<!--Duas caixas de texto com botoes para ações-->
<!--<label for="story">Escreva ai:</label>
<textarea id="story" name="story">
    <p>resumo-texto works!</p>
</textarea>
<br>
<button         
    pButton
    type="button"
    label="Entrar"
    class="p-col-12"
>
</button>
-->
<!--<label for="story">Tell us your story:</label>-->
<!--<textarea id="story" name="story">
    
</textarea>
    <button 
        pButton
        type="button"
        label="Entrar"
        class="p-col-12"
    >
    </button>-->
    
    <form>
            <div>
                <label><strong>o texto ali submite n funciona ainda</strong> </label>
                <div id="DivResumoBox1">
                <textarea id="resumoBox1" name="resumoBox1" rows="20" style="width: 30em" 
                  placeholder="Insira aqui o texto para o resumo" >
                </textarea>
                </div>
                <div>
                      <button class="btnSubmit" type="submit">enviar</button>
                </div>
                
                <div class="upFile">
                <button class="btn" id="btnFileUpload" type="button">
                    <img src="./assets/Logo_PNG.png" width="20px" height="20px" alt="Ícone de Upload">
                    <span class="upload">Fazer upload do texto</span>
                </button>
                <!--espaço pro metodo que faz a -->
                </div>
            </div>
            <div>
                <div id="DivResumoBox2">
                    <textarea id="resumoBox2" name="resumoBox2" rows="20" style="width: 30em" >
                    </textarea>
                    </div>
                    <div>
                          <button class="btnSubmit" type="submit">enviar</button>
                    </div>
            </div>
    </form>